@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OneCore</title>

    <link href="~/css/site.min.css" rel="stylesheet" />
    <link href="~/css/lib.min.css" rel="stylesheet" />
    <link href="~/css/fontawesome/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />


</head>
<body data-ng-app="app">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">OneCore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu2</a>
                </li>
            </ul>
            <div class="dropdown-divider"></div>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <span class="nav-link text-white">@ViewContext.HttpContext.User.Identity.Name</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Logout","Account")">Cerrar sesíon</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        <input type="hidden" id="XsrfRequestToken" value="@GetAntiXsrfRequestToken()" />
        @RenderBody()
        <div class="fixed-bottom text-white" style="height:30px; background-color:black;">
            <footer>
                <p class="mb-0">&copy; 2018 - OneCore</p>
            </footer>
        </div>
    </div>

    <script src="~/js/lib.min.js"></script>
    <script src="~/js/plugin/popper/popper.min.js"></script>
    <script src="~/js/site.min.js"></script>
    <script src="~/app/app.module.js"></script>
    <script src="~/app/app.directives.js"></script>
    <script src="~/app/app.tools.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>

    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
